
body{
	background-color: lightblue;
	background-position: center;
	text-align: center;
}

div {
	background-color: green;
	width: 100px;
	height: 200px;
	float: left;
	margin: 10px;
}

.container {
	background-color: RGB(255, 127, 127);
	width: 100%;
	height: 220px;
	float: left;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: blue;
  }
}